html {
    background-color: #708090;
}



h1 {
	min-width:900px;
    color: white;
    text-align: center;
    font-family: Impact, fantasy;
}

#backgroundimg{
	position: fixed; 
	top: 0; 
	left: 0;
	min-width: 100%; 
	min-height: 100%;
}

#styleco{
	padding-top:220px;
	position:relative;
	
	min-width:900px;
    color: white;
    text-align: center;
    font-family: Impact, fantasy;
}

.input{
	color: white;
    text-align: center;
    font-family: Impact, fantasy;
}

#bandeau{
	top:0;
	min-width:900px;
    width: 100%;
    height: 80px;
	display:full-screen;
    position: fixed;
    background-color:#00BFFF;
    text-align: center;
    font-family: Impact, fantasy;
    
}

#bandeau a {
  display:block;
  padding:5px 10px;
  text-decoration: none;
  color:#fff;
}

#bandeau li {
	display: inline block;
	vertical-align: top;
	float:left;
	list-style-type:none;
	position:relative;
	background: #00BFFF;
	
}
#bandeau li .boutons img{
	margin-left:20px;	
	background-color:#00BFFF;
	height:50px;
	min-width:50px;
	
}

#bandeau li .titre img{
	float:left;
	padding-top:-15px;
	min-width:100px;
	margin:auto;
	width:30%;
	left:50%;
}



#bandeau li:hover ul{
	left: auto;
}

#bandeau ul ul{
	position: absolute;
	left: -2000px;
	text-align: left;
    z-index: 1000;
}

#bandeau li li{
	
	min-width:70px;
}

#bandeau li li:hover{
	background: #A9A9A9
}

img{
	min-width:800px;
	display:block;
	margin:auto;
	width:50%;
}

